/* Entrance */
@-webkit-keyframes slide-in-bck-center {
	0% {
	  -webkit-transform: translateZ(600px);
			  transform: translateZ(600px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-bck-center {
	0% {
	  -webkit-transform: translateZ(600px);
			  transform: translateZ(600px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  /* H1 Text - Entrance */
  @-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  
  /* Hover Buttons - Shake */

  @-webkit-keyframes shake-horizontal {
	0%,
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateX(-10px);
			  transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateX(10px);
			  transform: translateX(10px);
	}
	80% {
	  -webkit-transform: translateX(8px);
			  transform: translateX(8px);
	}
	90% {
	  -webkit-transform: translateX(-8px);
			  transform: translateX(-8px);
	}
  }
  @keyframes shake-horizontal {
	0%,
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateX(-10px);
			  transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateX(10px);
			  transform: translateX(10px);
	}
	80% {
	  -webkit-transform: translateX(8px);
			  transform: translateX(8px);
	}
	90% {
	  -webkit-transform: translateX(-8px);
			  transform: translateX(-8px);
	}
  }
  /* User Photo - Rotate Hover */
  @-webkit-keyframes rotate-center {
	0% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  @keyframes rotate-center {
	0% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }