body {
    font-family: Roboto, sans-serif;
	background: rgb(32,90,156);
	background: -moz-radial-gradient(circle, rgba(32,90,156,1) 0%, rgba(0,8,78,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(32,90,156,1) 0%, rgba(0,8,78,1) 100%);
	background: radial-gradient(circle, rgba(32,90,156,1) 0%, rgba(0,8,78,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#205a9c",endColorstr="#00084e",GradientType=1);

	-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}
